/*폰트*/
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*노멀 라이즈 */
body,ul,li{
  margin: 0;
  padding: 0;
  list-style:none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body{
  background-color: gray;
}
/*커스텀*/

/* 로그인 */
.ID_log > *{
  transition: all .8s;
  position: fixed;
}
.id_Design{
  right: 0;
  height: 100%;
  width: 100%;
  background-color:#585858;
}
.id_menu{
  top: 0;
  padding: 15px;
  left : 50%;
  right: auto;
  height: 100%;
  width: 30%;
  transform: translateX(-50%);
  background-color: #BCBCBC;
}
.id_menu.show{
  left : 30%;
}
.id_menu > *{
  top: 10%;
  position: relative;
  height: 10%;
  width: 100%;
 /* border: 3px solid blue ;*/
}
.id_new{
  visibility: hidden;
  left: 50%;
  right: 10%;
  top: 10%;
  height: 0%;
  width: 40%;
 /* border: 3px solid blue ;*/
}
.id_new.show{
  visibility: visible;
  height: 80%;
}
#login_pw_t , #login_id_t{
  border:none;
  width: 60%;
}

.log_new{
  border-radius: 20% 20% 0% 0%; ;
  padding: 200px;
  padding-top:250px ;
  background-color: #BCBCBC;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.384), -3px 6px 7px rgba(0, 0, 0, 0.384);
}

.log_new > *{
  margin: 10px;
}
/*로그인 완료*/

/*로그인중*/
.id_menu{
  box-shadow: 0px 10px 8px black;
}
.id_menu.login{
  visibility: hidden;
  height: 0%;
}.id_menu.login > *{
  visibility: hidden;
  transition: all .1s;
}
.id_Design.login{
  visibility: hidden;
  width: 0%;
  opacity: 0;
}
/*로그인중 완료*/



/*회원가입*/
.ID_title{
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.id_new > *{
  position: absolute;
  top : 10%;
  left: auto;
  right: auto;
}
.id_new div{
  visibility: hidden;
}
.id_new.show  div{
  visibility: visible;
}
.hidden{
  display: none;
  visibility: hidden;
}
.log_test{
  text-align: right;
  justify-content: bottom;
}
.log_test > button{
  margin-top: 20px;
  width: 45%;
}
.log_find{
  text-align: right;
}
.log_find > button{
  border:none;
  background:none;
}
/*회원가입 완료*/


@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hahmlet:wght@100..900&display=swap'); 
        
* {
    font-family: "Gowun Dodum", serif;
}

.title {
    height: 250px;
    background-color: rgb(0, 37, 73);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  left section */
#box1 {
    float: left;
    width: 200%;
    background-color: #f1f1f5;
    color: rgb(10, 10, 10);
}

/*  right section */
#box2 {
    display: inline-block;
    width: 50%;
    background-color: #a09f9f;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}


/* 새로운 취미명 입력 + 링크추가 입력 modal창 */
.modal-content {
    width: 500px;
    margin: 0 auto 20px auto;
    color : black;

    /* border: 3px solid rgb(116, 15, 15); */
    background-color: rgb(195, 240, 255);
    padding: 20px;
    border-radius: 5px;

}

/* category table */
.table>button {
    width: 218px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/*세팅*/
